:root {
  --color-primary: #00308f;
  --color-secondary: #f2a900;
  --color-bg: #163c89;
  --color-heading: #111827;
  --color-text: #374151;
  --color-accent: #f9fafb;
  --color-custom:#ffffff;
  --color-card:#2e5095;
}
